<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.id2p.mycarclub" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".MyCarClubApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCc0EER95lwiDzvLpxu3kLIaPkIsUcMDdg" />
        <!--<meta-data-->
            <!--android:name="com.google.android.maps.v2.API_KEY"-->
            <!--android:value="AIzaSyCc0EER95lwiDzvLpxu3kLIaPkIsUcMDdg" />-->

        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/LamboDrawerTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".view.MainActivity"
            android:theme="@style/LamboAppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.GarageCreationActivity"
            android:label="@string/title_activity_garage_creation"
            android:parentActivityName=".view.MainActivity"
            android:theme="@style/LamboAppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.GarageViewActivity"
            android:label="@string/title_activity_garage_view"
            android:parentActivityName=".view.MainActivity"
            android:theme="@style/LamboAppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.AdCreationActivity"
            android:label="@string/title_activity_ad_creation"
            android:parentActivityName=".view.MainActivity"
            android:theme="@style/LamboAppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.EventCreationActivity"
            android:label="@string/title_activity_event_creation"
            android:parentActivityName=".view.MainActivity"
            android:theme="@style/LamboAppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.EventListActivity"
            android:label="@string/title_activity_event_list"
            android:parentActivityName=".view.MainActivity"
            android:theme="@style/LamboAppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.EventDetailActivity"
            android:label="@string/title_activity_event_detail"
            android:parentActivityName=".view.EventActivity"
            android:theme="@style/LamboAppTheme" />
        <activity
            android:name=".view.EventActivity"
            android:label="@string/title_activity_event"
            android:parentActivityName=".view.MainActivity"
            android:theme="@style/LamboAppTheme" />
        <activity
            android:name="com.parse.ui.ParseLoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/LamboAppTheme" >
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.APP_LOGO"
                android:resource="@drawable/porsche_small" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_ENABLED"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_EMAIL_AS_USERNAME"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.FACEBOOK_LOGIN_ENABLED"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.TWITTER_LOGIN_ENABLED"
                android:value="true" />
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/parse_client_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".view.MapViewActivity"
            android:label="@string/title_activity_map_view"
            android:theme="@style/LamboAppTheme">
        </activity>
    </application>

</manifest>
