<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.id2p.mycarclub" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".MyCarClubApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.parse.ui.ParseLoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_ENABLED"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_EMAIL_AS_USERNAME"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.FACEBOOK_LOGIN_ENABLED"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.TWITTER_LOGIN_ENABLED"
                android:value="true" />
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />



        <activity
            android:name=".view.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".view.BaseDrawerActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.id2p.mycarclub.view.BaseDrawerActivity" />
        </activity>
        <activity
            android:name=".view.EventCreationActivity"
            android:label="@string/title_activity_event_creation"
            android:parentActivityName=".view.BaseDrawerActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.id2p.mycarclub.view.BaseDrawerActivity" />
        </activity>
        <activity
            android:name=".view.AdCreationActivity"
            android:label="@string/title_activity_ad_creation"
            android:parentActivityName=".view.BaseDrawerActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.id2p.mycarclub.view.BaseDrawerActivity" />
        </activity>
        <activity
            android:name=".view.GarageCreationActivity"
            android:label="@string/title_activity_garage_creation" >
        </activity>
        <activity
            android:name=".view.GarageViewActivity"
            android:label="@string/title_activity_garage_view"
            android:parentActivityName=".view.BaseDrawerActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.id2p.mycarclub.view.BaseDrawerActivity" />
        </activity>
        <activity
            android:name=".view.EventListActivity"
            android:label="@string/title_activity_event_list"
            android:parentActivityName=".view.BaseDrawerActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.id2p.mycarclub.view.BaseDrawerActivity" />
        </activity>
    </application>

</manifest>
